<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content=
  "width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <!--link rel="stylesheet" href= "https://fonts.xz.style/serve/inter.css"-->
  <link rel="stylesheet" href= "https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ .Site.Title }}" href="/posts/index.xml">
  <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
</head>
<body>
  <header>
    <h1>{{ .Site.Params.author }} - {{ .Site.Title }}</h1>
    <nav>
      <a href="/">Home</a> <a href="/about">About</a> <a href=
      "/posts/index.xml">RSS</a>
    </nav>
  </header>
</body>
</html>
